body {
    min-height: 100hv;
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background-image: url(./img111.jpg) ;
    background-repeat: no-repeat;
    
    background-attachment: fixed; 
    background-size: cover;
}

.formulario h1{
    text-align: center;
    font-family: "Segoe UI";
    background: rgb(242, 234, 225);
    border-radius: 20pX;
}

.formulario{
    display: flex;
    flex-direction: column;
    background: rgb(225, 193, 156);
    border-radius: 20px;  
    width: 500px;
    margin: 0 auto;
    
}

.formulario button{
    border: none;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: "Segoe UI";
    font-size: 160%;
}
